nav {
  font-family: orbitron;
  color: rgb(62, 221, 62);
}
main {
  font-family: "trispace";
}

.jumbotron {
  color: rgb(62, 221, 62);
  font-family: orbitron;
}
.accordion-body {
  background-color: black;
  font-family: trispace;
  color: rgb(62, 221, 62);
}
.accordion-header {
  font-family: trispace;
}
.accordion {
  width: 80%;
  margin: auto;
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: rgb(235, 226, 207);
  padding-top: 1em;
}
