body {
  background-attachment: fixed;
  background-image: url("/images/aesthetic.jpg");
  background-size: cover;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.closed {
  width: 100%;
}
.btn-light {
  color: whitesmoke;
}
/*input:invalid {
  border: 2px dashed red;
}*/
